<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
  <style type="text/css">
  
  body {
    background-image: url("football-452569_1920") !important;
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
  }
  .login_errors {
     background-color: #e57373;
     color: white;
  }
</style>
</head>
<body onload="installerHide()">
<div class="container-fluid">
  <nav class="nav-wrapper green lighten-2">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header green lighten-2">
      &nbsp; &nbsp; <!--<a class="brand-logo center" style="font-family: 'Gugi', cursive; color:white; font-size:30px;" href="#">UFFL</a>-->
      <img src="assets/UFFLLogo.png" class="brand-logo center" style="margin-top:2px;" alt="UFFL" height="50" width="150">
    </div>
</nav>
<div class="container">
<div align="center">
<%= form_for(:session, url: login_path) do |f| %>
  &nbsp; &nbsp; <div class="form-group">
  <%= f.email_field :email, :placeholder => " Email", :class => "form-control input-field" %> 
  </div>
  &nbsp; &nbsp; <div class="form-group">
  <%= f.password_field :password, :placeholder => " Password", :class => "form-control" %>
  </div>
  <div class="form-group">
  <%= f.submit "Log in", :class => "btn btn-success" %>
  </div>
  <br />
  Forgotten password? <%= link_to "Reset", new_password_reset_path %>
  <br/>
  New user? <a href="/signup_options">Sign up now!</a> <!--<%= link_to "Sign up now!", signup_path %> -->
  <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "z-depth-5 login_errors alert-#{key}" %>
<% end %>
<% end %>
<div id="installer" class="available">
  <button class="button">Install</button>
</div>
</div>
<script type="text/javascript">
  function installerHide() {
  if (window.matchMedia('(display-mode: standalone)').matches) {  
    var installButton = document.getElementById("installer");
    installButton.remove();
  }
  else if (window.navigator.standalone == true) {
    var installButton = document.getElementById("installer");
    installButton.remove();
  } 
  }
</script>
</body>
</html>
