<p id="notice"><%= notice %></p>

<h1>Listing Playerstats</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Games Played</th>
      <th>Games Scored</th>
      <th>Goals Scored</th>
      <th>Games Conceded</th>
      <th>Goals Conceded</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @playerstats.each do |playerstat| %>
      <tr>
        <td><%= playerstat.player_id %></td>
        <td><%= playerstat.played %></td>
        <td><%= playerstat.scored %></td>
        <td><%= playerstat.scorenum %></td>
        <td><%= playerstat.conceded %></td>
        <td><%= playerstat.concedednum %></td>
        <td><%= link_to 'Show', playerstat %></td>
        <td><%= link_to 'Edit', edit_playerstat_path(playerstat) %></td>
        <td><%= link_to 'Destroy', playerstat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Playerstat', new_playerstat_path %>
