<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
 <nav>
    <div class="nav-wrapper green lighten-2">
       &nbsp; &nbsp; <a><%= image_tag("UFFLLogo.png", width: '150', height: '50') %></a>
      <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/teamsheet/index">Starting 11<span class="sr-only"></span></a></li>
        <li><a href="/bids">My Bids<span class="sr-only"></span></a></li>
        <li><a href="/league_table/viewLeagueTable">League Table<span class="sr-only"></span></a></li>
        <li><a href="/fixtures/index">Fixtures & Results<span class="sr-only"></span></a></li>
        <li><a href="/teamsheet/index2">View Teams<span class="sr-only"></span></a></li>
        <li><a href="#"><% if logged_in? -%><%= quid(current_user.budget) %><% end -%></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown4"><% if logged_in? -%><%= current_user.first_name %><% end -%><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </div>
  </nav>

<div class="container">
<% provide(:title, "Forgot password") %>
<div align="center">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <%= f.label :email %>
      <div class="form-group">
      <%= f.email_field :email, class: 'input-field' %>
      </div>

      <%= f.submit "Submit", class: "btn btn-success" %>
      <br />
      <%= link_to "Log In", login_path %>
    <% end %>
</div>
</div>
</body>
</html>
