<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript">
   $(document).ready(function(){
    $(".dropdown-button").dropdown();
    $(".button-collapse").sideNav();
    $(".button").sideNav();
  });

  $(document).ready(function(){
    $('.modal').modal();
  });
  </script>
  <style type="text/css">
   .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}  

.breadcrumb{
background-color: white;
border: none;
}

.card-deck{
  margin-top: 10px;
}
    
.container-fluid { 
  padding: 0px;
}

#rcorners1 {
    border-radius: 25px;
    background: #D3D3D3;
    padding: 10px; 
    width: 200px;
    height: 80px;    
}

p {
  font-size:16px;
}
</style>
</head>
<body>
<ul id="dropdown2" class="dropdown-content">
 <li><%= link_to "Profile", '/edit_profile'%></li>
 <li><%= link_to "Log out", logout_path, method: "delete" %></li>
</ul>

<ul id="dropdown4" class="dropdown-content">
 <li><%= link_to "Profile", '/edit_profile'%></li>
 <li><%= link_to "Log out", logout_path, method: "delete" %></li>
</ul>

<ul id="dropdown5" class="dropdown-content">
 <li><%= link_to "Profile", '/edit_profile'%></li>
 <li><%= link_to "Log out", logout_path, method: "delete" %></li>
</ul>

<div class="container-fluid">
  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <center><h4><i class="material-icons medium">help_outline</i></h4></center>
      <p>Welcome to the UFFL Home Page! Use this page to navigate around the application.</p>
    </div>
    <div class="modal-footer green lighten-2">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat white-text">Close</a>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
    <% if @notifications_all.empty? %>
    <center><i class="material-icons medium">notifications_none</i>
    <i><h6> No new notifications </h6></i></center>
    <% else %>
    <% @notifications_all.where(:user_id => current_user.id).each do |notification| %>
    <% if notification.show == "yes" %>
    <div class="card">
    <div class="card-block">
      <p class="card-text"><%= notification.message %></p>
      <bold class="card-text">
      <i style="color:grey;"><%= notification.created_at.strftime("%R, %b %d") %></i>
      </bold>
      <br/>
      <br/>
     <a class="btn btn-sm green lighten-2" href="/notifications/<%=notification.id%>/destroy" data-method="delete"><i class="material-icons">check_circle</i></a>
    </div>
  </div>
  <% else %>
    <div class="card">
    <div class="card-block">
      <center><i class="material-icons medium">notifications_off</i>
      <p class="card-text">Notification Hidden</p>
      <bold class="card-text"></bold>
    </div>
  </div>
    <% end %>
    <% end %>
    <% end %>
    </div>
    <div class="modal-footer green lighten-2">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat white-text">Close</a>
    </div>
  </div>
    <ul class="side-nav" id="mobile-demo">
        <li><a href="#modal2"><i class="material-icons">notifications</i><span class="sr-only"></span></a></li>
        <li><a href="/teamsheet/index">Starting 11<span class="sr-only"></span></a></li>
        <li><a href="/bids">Bids<span class="sr-only"></span></a></li>
        <li><a href="/league_table/viewLeagueTable">League Table<span class="sr-only"></span></a></li>
        <li><a href="/fixtures/index">Fixtures & Results<span class="sr-only"></span></a></li>
        <li><a href="#modal1"><i class="material-icons">help_outline</i><span class="sr-only"></span></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown5"><% if logged_in? -%><%= current_user.first_name %><% end -%><i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>

     <ul class="side-nav" id="desktop-menu">
        <li><a href="/teamsheet/index">Starting 11<span class="sr-only"></span></a></li>
        <li><a href="/bids">Bids<span class="sr-only"></span></a></li>
        <li><a href="/league_table/viewLeagueTable">League Table<span class="sr-only"></span></a></li>
        <li><a href="/fixtures/index">Fixtures & Results<span class="sr-only"></span></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown4"><% if logged_in? -%><%= current_user.first_name %><% end -%><i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>

    <ul class="side-nav" id="notify">
    <% if @notifications_all.empty? %>
    <center><i class="material-icons medium">notifications_none</i>
    <i><h6> No new notifications </h6></i></center>
    <% else %>
    <% @notifications_all.where(:user_id => current_user.id).each do |notification| %>
    <% if notification.show == "yes" %>
    <div class="card">
    <div class="card-block">
      <p class="card-text"><%= notification.message %></p>
      <bold class="card-text">
      <i style="color:grey;"><%= notification.created_at.strftime("%R, %b %d") %></i>
      </bold>
      <br/>
      <br/>
     <a class="btn btn-sm green lighten-2" href="/notifications/<%=notification.id%>/destroy" data-method="delete"><i class="material-icons">check_circle</i></a>
    </div>
  </div>
  <% else %>
    <div class="card">
    <div class="card-block">
      <center><i class="material-icons medium">notifications_off</i>
      <p class="card-text">Notification Hidden</p>
      <bold class="card-text"></bold>
    </div>
  </div>
    <% end %>
    <% end %>
    <% end %>
    </ul>
    <div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper green lighten-2">
       &nbsp; &nbsp; <a><%= 
      link_to_if current_user.access == "admin", image_tag("UFFLLogo.png", width: '150', height: '50'), '/admin_index', class: "brand-logo center" do
      link_to image_tag("UFFLLogo.png", width: '150', height: '50'), '/index', class: "brand-logo center"
      end
      %></a>
      <a href="#!" style="color:white;" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
      <li><a style="color:white; background:transparent;" data-activates="desktop-menu" class="btn button btn-flat"><i class="material-icons">menu</i></a></li>
      <% if @notifications_all.empty? %>
      <li><a style="color:white; background:transparent;" data-activates="notify" class="btn button btn-flat"><i class="material-icons">notifications_none</i></a></li>
      <% else %>
      <li><a style="color:white; background:transparent;" data-activates="notify" class="btn button btn-flat"><i class="material-icons">notifications</i></a></li>
      <% end %>
      <li><a style="color:white; background:transparent;" href="#modal1" class="btn btn-flat"><i class="material-icons">help_outline</i></a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"><a><%= Account.find(current_user.account_id).name %></a></li>
        <li><a style="color:white;" href="#"><% if logged_in? -%><%= quid(current_user.budget) %><% end -%></a></li>
        <li><a style="color:white;" class="dropdown-button" href="#!" data-activates="dropdown2"><% if logged_in? -%><%= current_user.first_name %><% end -%><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </div>
  </nav>
  </div>

 <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "alert alert-#{key}" %>
<% end %>
<div class="container">
<br />
<a href="#<%= Matchday.where(:account_id => current_user.account_id).pluck(:matchday_number).to_s.tr('""','').tr('[]','').to_i %>" class="btn-small waves-effect waves-light green lighten-2" style="color:white; padding:5px;">View Latest Results</a>
<%= link_to "Show my fixtures", index_fixtures_url(:team => current_user.id), :class => "btn-small waves-effect waves-light green lighten-2", :style => "color:white; padding:5px;" %>
<%= link_to "Show all fixtures", index_fixtures_url(:team => nil), :class => "btn-small waves-effect waves-light green lighten-2", :style => "color:white; padding:5px;" %>
  <% @fixtures.each do |matchday, fixtures| %>
  <ul class="collection">
    <li id="<%= matchday + 1 %>" class="collection-item avatar">
      <span class="title"><h5>Matchday <%= matchday + 1 %></h5></span>
    </li>
    <% for f in fixtures.sort_by{|e| e[:haflag].reverse} do %>
    <% if f.haflag == "Home" %>
    <li class="collection-item avatar">
      <i class="material-icons circle green tooltipped" data-tooltip="">home</i>
      <span class="title">Home</span>
      <p class="card-text"><a><%= link_to(User.find(f.hteam).teamname, "/teamsheet/#{User.where(:teamname => User.find(f.hteam).teamname).pluck(:id).to_s.tr('""','').tr('[]','')}/show") %></a><% if f.finalscore != "" %> <%=f.finalscore.insert(1,"-")%> <% else %> <%= h('vs') %> <% end %> <a><%= link_to(User.find(f.ateam).teamname, "/teamsheet/#{User.where(:teamname => User.find(f.ateam).teamname).pluck(:id).to_s.tr('""','').tr('[]','')}/show") %></a></p>
    </li>
    <% else %>
    <li class="collection-item avatar">
      <i class="material-icons circle tooltipped" data-tooltip="">explore</i>
      <span class="title">Away</span>
      <p class="card-text"><a><%= link_to(User.find(f.hteam).teamname, "/teamsheet/#{User.where(:teamname => User.find(f.hteam).teamname).pluck(:id).to_s.tr('""','').tr('[]','')}/show") %></a> <% if f.finalscore != "" %> <%=f.finalscore.insert(1,"-")%>  <% else %> <%= h('vs') %> <% end %> <a><%= link_to(User.find(f.ateam).teamname, "/teamsheet/#{User.where(:teamname => User.find(f.ateam).teamname).pluck(:id).to_s.tr('""','').tr('[]','')}/show") %></a></p>
    </li>
    <% end %>
    <% end %>
  </ul>
  <% end %>
</div>
</body>
</html>

