<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

<script>
$(document).ready(function() {
  $('select#template-example').select2({
  });
});

  $(document).ready(function(){
    $(".dropdown-button").dropdown();
    $(".button-collapse").sideNav();
    $(".button").sideNav();
  });

  $(document).ready(function(){
    $('.modal').modal();
  });
</script>
</head>
<body>
<ul id="dropdown2" class="dropdown-content">
 <li><%= link_to "Profile", '/edit_profile'%></li>
 <li><%= link_to "Log out", logout_path, method: "delete" %></li>
</ul>
<ul id="dropdown4" class="dropdown-content">
 <li><%= link_to "Profile", '/edit_profile'%></li>
 <li><%= link_to "Log out", logout_path, method: "delete" %></li>
</ul>
<ul id="dropdown5" class="dropdown-content">
 <li><%= link_to "Profile", '/edit_profile'%></li>
 <li><%= link_to "Log out", logout_path, method: "delete" %></li>
</ul>
<div class="container-fluid">
  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <center><h4><i class="material-icons medium">help_outline</i></h4></center>
      <p>Welcome to the UFFL Home Page! Use this page to navigate around the application.</p>
    </div>
    <div class="modal-footer green lighten-2">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat white-text">Close</a>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
    <% if @notifications_all.empty? %>
    <center><i class="material-icons medium">notifications_none</i>
    <i><h6> No new notifications </h6></i></center>
    <% else %>
    <% @notifications_all.where(:user_id => current_user.id).each do |notification| %>
    <% if notification.show == "yes" %>
    <div class="card">
    <div class="card-block">
      <p class="card-text"><%= notification.message %></p>
      <bold class="card-text">
      <i style="color:grey;"><%= notification.created_at.strftime("%R, %b %d") %></i>
      </bold>
      <br/>
      <br/>
     <a class="btn btn-sm green lighten-2" href="/notifications/<%=notification.id%>/destroy" data-method="delete"><i class="material-icons">check_circle</i></a>
    </div>
  </div>
  <% else %>
    <div class="card">
    <div class="card-block">
      <center><i class="material-icons medium">notifications_off</i>
      <p class="card-text">Notification Hidden</p>
      <bold class="card-text"></bold>
    </div>
  </div>
    <% end %>
    <% end %>
    <% end %>
    </div>
    <div class="modal-footer green lighten-2">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat white-text">Close</a>
    </div>
  </div>
    <ul class="side-nav" id="mobile-demo">
        <li><a href="#modal2"><i class="material-icons">notifications</i><span class="sr-only"></span></a></li>
        <li><a href="/teamsheet/index">Starting 11<span class="sr-only"></span></a></li>
        <li><a href="/bids">Bids<span class="sr-only"></span></a></li>
        <li><a href="/league_table/viewLeagueTable">League Table<span class="sr-only"></span></a></li>
        <li><a href="/fixtures/index">Fixtures & Results<span class="sr-only"></span></a></li>
        <li><a href="#modal1"><i class="material-icons">help_outline</i><span class="sr-only"></span></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown5"><% if logged_in? -%><%= current_user.first_name %><% end -%><i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>

     <ul class="side-nav" id="desktop-menu">
        <li><a href="/teamsheet/index">Starting 11<span class="sr-only"></span></a></li>
        <li><a href="/bids">Bids<span class="sr-only"></span></a></li>
        <li><a href="/league_table/viewLeagueTable">League Table<span class="sr-only"></span></a></li>
        <li><a href="/fixtures/index">Fixtures & Results<span class="sr-only"></span></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown4"><% if logged_in? -%><%= current_user.first_name %><% end -%><i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>

    <ul class="side-nav" id="notify">
    <% if @notifications_all.empty? %>
    <center><i class="material-icons medium">notifications_none</i>
    <i><h6> No new notifications </h6></i></center>
    <% else %>
    <% @notifications_all.where(:user_id => current_user.id).each do |notification| %>
    <% if notification.show == "yes" %>
    <div class="card">
    <div class="card-block">
      <p class="card-text"><%= notification.message %></p>
      <bold class="card-text">
      <i style="color:grey;"><%= notification.created_at.strftime("%R, %b %d") %></i>
      </bold>
      <br/>
      <br/>
     <a class="btn btn-sm green lighten-2" href="/notifications/<%=notification.id%>/destroy" data-method="delete"><i class="material-icons">check_circle</i></a>
    </div>
  </div>
  <% else %>
    <div class="card">
    <div class="card-block">
      <center><i class="material-icons medium">notifications_off</i>
      <p class="card-text">Notification Hidden</p>
      <bold class="card-text"></bold>
    </div>
  </div>
    <% end %>
    <% end %>
    <% end %>
    </ul>
    <div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper green lighten-2">
       &nbsp; &nbsp; <a><%= 
      link_to_if current_user.access == "admin", image_tag("UFFLLogo.png", width: '150', height: '50'), '/admin_index', class: "brand-logo center" do
      link_to image_tag("UFFLLogo.png", width: '150', height: '50'), '/index', class: "brand-logo center"
      end
      %></a>
      <a href="#!" style="color:white;" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
      <li><a style="color:white; background:transparent;" data-activates="desktop-menu" class="btn button btn-flat"><i class="material-icons">menu</i></a></li>
      <% if @notifications_all.empty? %>
      <li><a style="color:white; background:transparent;" data-activates="notify" class="btn button btn-flat"><i class="material-icons">notifications_none</i></a></li>
      <% else %>
      <li><a style="color:white; background:transparent;" data-activates="notify" class="btn button btn-flat"><i class="material-icons">notifications</i></a></li>
      <% end %>
      <li><a style="color:white; background:transparent;" href="#modal1" class="btn btn-flat"><i class="material-icons">help_outline</i></a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"><a><%= Account.find(current_user.account_id).name %></a></li>
        <li><a style="color:white;" href="#"><% if logged_in? -%><%= quid(current_user.budget) %><% end -%></a></li>
        <li><a style="color:white;" class="dropdown-button" href="#!" data-activates="dropdown2"><% if logged_in? -%><%= current_user.first_name %><% end -%><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </div>
  </nav>
  </div>
 <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "alert alert-#{key}" %>
<% end %>
  <div class="container">  
<h4>Goalkeepers</h4>  
  <div class="col s6" style="background-color:white;">
		<%= form_for(@bid, :html => { :class => 'btn-lg' }) do |f| %>
		<div class="input-field">
    <%= f.select :player_id, options_from_collection_for_select(@goalkeepers,
 :id, 'playerteam'), {}, class: "form-control", id: "template-example", data: { placeholder: "Select a player" } %>
    </div>
    <div class="input-field">
    <%= f.text_field :amount, :class => "form-control", :placeholder => "£"%>
  </div>
   <button class="btn waves-effect waves-light green lighten-2" type="submit" name="action">
     <%= f.submit "Submit Bid" %> 
  </button>
<% end %>
</div>
<br/>
<br/>
<h4>Defenders</h4>
<div class="col s6" style="background-color:white;">
    <%= form_for(@bid, :html => { :class => 'btn-lg' }) do |f| %>
    <div class="input-field">
    <%= f.select :player_id, options_from_collection_for_select(@defenders,
 :id, 'playerteam'), {}, class: "form-control", id: "template-example", data: { placeholder: "Select a player" } %>
    </div>
    <div class="input-field">
    <%= f.text_field :amount, :class => "form-control", :placeholder => "£"%>
  </div>
   <button class="btn waves-effect waves-light green lighten-2" type="submit" name="action">
     <%= f.submit "Submit Bid" %> 
  </button>
<% end %>
</div>
<br/>
<br/>
<h4>Midfielders</h4>
<div class="col s6" style="background-color:white;">
    <%= form_for(@bid, :html => { :class => 'btn-lg' }) do |f| %>
    <div class="input-field">
    <%= f.select :player_id, options_from_collection_for_select(@midfielders,
 :id, 'playerteam'), {}, class: "form-control", id: "template-example", data: { placeholder: "Select a player" } %>
    </div>
    <div class="input-field">
    <%= f.text_field :amount, :class => "form-control", :placeholder => "£"%>
  </div>
   <button class="btn waves-effect waves-light green lighten-2" type="submit" name="action">
     <%= f.submit "Submit Bid" %> 
  </button>
<% end %>
</div>
<br/>
<br/>
<h4>Strikers</h4>
<div class="col s6" style="background-color:white;">
    <%= form_for(@bid, :html => { :class => 'btn-lg' }) do |f| %>
    <div class="input-field">
    <%= f.select :player_id, options_from_collection_for_select(@strikers,
 :id, 'playerteam'), {}, class: "form-control", id: "template-example", data: { placeholder: "Select a player" } %>
    </div>
    <div class="input-field">
    <%= f.text_field :amount, :class => "form-control", :placeholder => "£"%>
  </div>
   <button class="btn waves-effect waves-light green lighten-2" type="submit" name="action">
     <%= f.submit "Submit Bid" %> 
  </button>
<% end %>
</div>
<br/>
<br/>
</div>
    
    <div class="col-sm-3" style="background-color:white;"></div>
    
    <div class="col-sm-3" style="background-color:white;"></div>
    
    <div class="col-sm-3" style="background-color:white;"></div>
  </div>

</body>
</html>
