<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <nav class="nav-wrapper green lighten-2">
  &nbsp; &nbsp; <a class="brand-logo center" href="/login"> <%= image_tag("UFFLLogo.png", width: '150', height: '50') %></a>
  </nav>
    <div class="container">
    <div align="center">
    <%= form_for(@user) do |f| %>
      <div class="input-field">
      <%= f.text_field :first_name, :placeholder => "First name", :class => "input-field" %>
      </div>
      <div class="input-field">
      <%= f.text_field :last_name, :placeholder => "Last name", :class => "input-field" %>
      </div>
      <div class="input-field">
      <%= f.email_field :email, :placeholder => "Email", :class => "input-field" %>
      </div>
      <div class="input-field">
      <%= f.text_field :account_id, :placeholder => "League ID (Enter to join an existing RFFL league)", :class => "input-field" %>
      </div>
      <div class="input-field">
      <%= f.password_field :password, :placeholder => "Password", :class => "input-field" %>
      </div>
      <div class="input-field">
      <%= f.password_field :password_confirmation, :placeholder => "Confirm Password", :class => "input-field" %>
      </div>
      <div class="input-field">
      <%= f.submit "Sign Up", :class => "waves-effect waves-light btn" %>
      </div>
      <br />
      Already signed up? <%= link_to "Log in now!", login_path %>
      <% @user.errors.full_messages.each do |message| %>
      <div class="z-depth-5" style="text-align:center; background-color: #e57373; color: white;">
      <strong><%= message %></strong>
      </div>
      </div>
      <% end %>
    <% end %>
  </div>
</html>