<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <!-- Compiled and minified CSS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript">
  $(document).ready(function(){
    $(".dropdown-button").dropdown();
    $(".button-collapse").sideNav();
  });
  </script>
  <style type="text/css">
   .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}  

.breadcrumb{
background-color: white;
border: none;
}

.card-deck{
  margin-top: 10px;
}
    
.container-fluid { 
  padding: 0px;
}

#rcorners1 {
    border-radius: 25px;
    background: #D3D3D3;
    padding: 10px; 
    width: 200px;
    height: 80px;    
}
</style>
</head>
<body>
<ul id="dropdown2" class="dropdown-content">
 <li><%= link_to "Profile", '/edit_profile'%></li>
 <li><%= link_to "Log out", logout_path, method: "delete" %></li>
</ul>

<ul id="dropdown4" class="dropdown-content">
 <li><%= link_to "Profile", '/edit_profile'%></li>
 <li><%= link_to "Log out", logout_path, method: "delete" %></li>
</ul>

<div class="container-fluid">
    <nav>
    <div class="nav-wrapper green lighten-2">
    &nbsp; &nbsp; <a><%= 
      link_to_if current_user.access == "admin", image_tag("UFFLLogo.png", width: '150', height: '50'), '/admin_index', class: "brand-logo" do
      link_to image_tag("UFFLLogo.png", width: '150', height: '50'), '/index', class: "brand-logo"
      end
      %></a>
      <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
          <div class="dropdown left">
    <a href="/notifications" class="btn btn-primary">Notifications</a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <% @notifications_all.each do |n| %>
      <% if n.show == "yes" %>
      <li role="presentation"><p id="rcorners1"><%= n.message %><br/><%= n.created_at %><br/></p></li>
      <% end %>
      <% end %>
      <a href="/notifications">Manage notifications</a>
    </ul>
  </div>
        <li><a href="#"><% if logged_in? -%><%= quid(current_user.budget) %><% end -%></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown2"><% if logged_in? -%><%= current_user.first_name %><% end -%><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/notifications">Notifications<span class="sr-only"></span></a></li>
        <li><a href="/teamsheet/index">Starting 11<span class="sr-only"></span></a></li>
        <li><a href="/bids">My Bids<span class="sr-only"></span></a></li>
        <li><a href="/league_table/viewLeagueTable">League Table<span class="sr-only"></span></a></li>
        <li><a href="/fixtures/index">Fixtures & Results<span class="sr-only"></span></a></li>
        <li><a href="/teamsheet/index2">View Teams<span class="sr-only"></span></a></li>
        <li><a href="#"><% if logged_in? -%><%= quid(current_user.budget) %><% end -%></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown4"><% if logged_in? -%><%= current_user.first_name %><% end -%><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </div>
  </nav>
 <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "alert alert-#{key}" %>
<% end %>
<div class="container">
  <% @teamPlayers.each do |user_id, players| %>
  <div class="card">
    <div class="card-block">
    <span class="badge red" style="color:white;">On the Bench</span>
    <span class="badge green" style="color:white;">Starting 11</span>
    <h2 class="card-title"><%= User.find(user_id).first_name %> <%= User.find(user_id).last_name %></h2>
    <p class="card-text">
    <% for p in players do %>
    <ul>
    <li>
    <% if Teamsheet.where(:player_id => p.player_id).pluck(:active).to_s.tr('""','').tr('[]','') == 'true' %> <h6 style="color:green;"><%= Player.find(p.player_id).name %></h6><p class="label badge green"><%= Player.find(p.player_id).position %></p>

    <% else %> <h6 style="color:red;"><%= Player.find(p.player_id).name %></h6> <p class="label badge red"><%= Player.find(p.player_id).position %></p><% end %>
      
    </li>
  </ul>
  <% end %>
  </div>
  </div>
  <% end %>
</div>
</body>
</html>

