<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="turbolinks-visit-control" content="reload">
  <script type="text/javascript">
    $(document).ready(function(){
    $(".dropdown-button").dropdown();
    $(".button-collapse").sideNav();
    $(".button").sideNav();
  });

  $(document).ready(function(){
    $('.modal').modal();
  });
  </script>
  <style type="text/css">
   .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}  

.breadcrumb{
background-color: white;
border: none;
}

.card-deck{
  margin-top: 10px;
}
  
.container-fluid { 
  padding: 0px;
}

#rcorners1 {
    border-radius: 25px;
    background: #D3D3D3;
    padding: 10px; 
    width: 200px;
    height: 80px;    
}

.matchcenter-field {
    background-image: url(/assets/field-bg.png);
    width: 400px;
    height: 500px;
    position: relative;
}

.matchcenter-field .player {
    position: absolute;
    border: 1px solid #38870f;
    display: none;
    -moz-box-shadow: 1px 1px 2px #6a9627;
    -webkit-box-shadow: 1px 1px 2px #6a9627;
    box-shadow: 1px 1px 2px #6a9627;
}

.matchcenter-field .player-nr {
    width: 0px;
    float: left;
    color: #5f9610;
    font-weight: bold;
    text-shadow: 0px 0px 0px #a8ce36;
    padding: 0px 0px;
    text-align: center;
    font-size: 0px;
    border-right: 0px solid #38870f;
    border-top: 0px solid #8dc639;
    background: -moz-linear-gradient(top, #7db42e, #8cc539);
    background: -webkit-gradient(linear, center top, center bottom, from(#7db42e), to(#8cc539));
    background: -o-linear-gradient(top, #7db42e, #8cc539);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db42e', endColorstr='#8cc539');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db42e', endColorstr='#8cc539')";
    background: linear-gradient(top, #7db42e, #8cc539);
}

.matchcenter-field .player-name {
    width: 100px;
    color: white;
    float: left;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 0px #61871c;
    padding: 4px 6px;
    font-size: 15px;
    border-top: 1px solid #beda5a;
    background: -moz-linear-gradient(top, #adcf35, #8ac439);
    background: -webkit-gradient(linear, center top, center bottom, from(#adcf35), to(#8ac439));
    background: -o-linear-gradient(top, #adcf35, #8ac439);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#adcf35', endColorstr='#8ac439');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#adcf35', endColorstr='#8ac439')";
    background: linear-gradient(top, #adcf35, #8ac439);
}

.matchcenter-field .player-yellowcard {
    width: 8px;
    height: 12px;
    border: 1px solid #797900;
    position: absolute;
    top: -8px;
    right: 5px;
    display: none;
    background: -moz-linear-gradient(top, #fdf875, #e8eb00);
    background: -webkit-gradient(linear, center top, center bottom, from(#fdf875), to(#e8eb00));
    background: -o-linear-gradient(top, #fdf875, #e8eb00);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdf875', endColorstr='#e8eb00');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdf875', endColorstr='#e8eb00')";
    background: linear-gradient(top, #fdf875, #e8eb00);
}

.matchcenter-field .player-redcard {
    width: 8px;
    height: 12px;
    border: 1px solid #a50000;
    position: absolute;
    top: -8px;
    right: 2px;
    display: none;
    background: -moz-linear-gradient(top, #fd7575, #eb0000);
    background: -webkit-gradient(linear, center top, center bottom, from(#fd7575), to(#eb0000));
    background: -o-linear-gradient(top, #fd7575, #eb0000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd7575', endColorstr='#eb0000');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd7575', endColorstr='#eb0000')";
    background: linear-gradient(top, #fd7575, #eb0000);
}
</style>
</head>
<body>
<script src="/assets/jquery.matchcenter.js"></script>
 
<script type="text/javascript">

$(document).ready(function(){
var matchcenter = $('#matchfield').matchcenter({system: '4-4-2'});
$('#matchfield').matchcenter("addPlayer", 1, 1, 1, "  <% if @players[0] %> <%= Player.where(:id => @players[0].read_attribute(:player_id)).pluck(:name).to_s.tr('""','').tr('[]','').partition(' ').last %> <% else %> <% end %> ");
$('#matchfield').matchcenter("addPlayer", 2, 2, 2, " <% if @players[1] %> <%= Player.where(:id => @players[1].read_attribute(:player_id)).pluck(:name).to_s.tr('""','').tr('[]','').partition(' ').last %> <% else %> <% end %> ");
$('#matchfield').matchcenter("addPlayer", 3, 3, 3, " <% if @players[2] %> <%= Player.where(:id => @players[2].read_attribute(:player_id)).pluck(:name).to_s.tr('""','').tr('[]','').partition(' ').last %> <% else %> <% end %> ");
$('#matchfield').matchcenter("addPlayer", 3, 3, 3, " <% if @players[2] %> <%= Player.where(:id => @players[2].read_attribute(:player_id)).pluck(:name).to_s.tr('""','').tr('[]','').partition(' ').last %> <% else %> <% end %> ");
$('#matchfield').matchcenter("addPlayer", 3, 3, 3, " <% if @players[2] %> <%= Player.where(:id => @players[2].read_attribute(:player_id)).pluck(:name).to_s.tr('""','').tr('[]','').partition(' ').last %> <% else %> <% end %> ");
$('#matchfield').matchcenter("addPlayer", 4, 4, 4, " <% if @players[3] %> <%= Player.where(:id => @players[3].read_attribute(:player_id)).pluck(:name).to_s.tr('""','').tr('[]','').partition(' ').last %> <% else %> <% end %> ");
$('#matchfield').matchcenter("addPlayer", 5, 5, 5, " <% if @players[4] %> <%= Player.where(:id => @players[4].read_attribute(:player_id)).pluck(:name).to_s.tr('""','').tr('[]','').partition(' ').last %> <% else %> <% end %> ");
$('#matchfield').matchcenter("addPlayer", 6, 6, 6, " <% if @players[5] %> <%= Player.where(:id => @players[5].read_attribute(:player_id)).pluck(:name).to_s.tr('""','').tr('[]','').partition(' ').last %> <% else %> <% end %> ");
$('#matchfield').matchcenter("addPlayer", 7, 7, 7, " <% if @players[6] %> <%= Player.where(:id => @players[6].read_attribute(:player_id)).pluck(:name).to_s.tr('""','').tr('[]','').partition(' ').last %> <% else %> <% end %>  ");
$('#matchfield').matchcenter("addPlayer", 8, 8, 8, " <% if @players[7] %> <%= Player.where(:id => @players[7].read_attribute(:player_id)).pluck(:name).to_s.tr('""','').tr('[]','').partition(' ').last %> <% else %> <% end %>  ");
$('#matchfield').matchcenter("addPlayer", 9, 9, 9, " <% if @players[8] %> <%= Player.where(:id => @players[8].read_attribute(:player_id)).pluck(:name).to_s.tr('""','').tr('[]','').partition(' ').last %> <% else %> <% end %> ");
$('#matchfield').matchcenter("addPlayer", 10, 10, 10, " <% if @players[9] %>  <%= Player.where(:id => @players[9].read_attribute(:player_id)).pluck(:name).to_s.tr('""','').tr('[]','').partition(' ').last %> <% else %> <% end %> ");
$('#matchfield').matchcenter("addPlayer", 11, 11, 11, " <% if @players[10] %> <%= Player.where(:id => @players[10].read_attribute(:player_id)).pluck(:name).to_s.tr('""','').tr('[]','').partition(' ').last %> <% else %> <% end %> ");
});

// Set the date we're counting down to
var countDownDate = new Date("<% if Timer.exists? %> <%= Timer.first.read_attribute(:date) %><% end %>").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time 
    var now = new Date().getTime();
    
    // Find the distance between now and the count down date
    var distance = countDownDate - now;
    
    // Time calculations for days, hours, minutes and seconds
    var text = "Bid Countdown: "
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    // Output the result in an element with id="demo"
    document.getElementById("bid_timer").innerHTML = text + days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
    
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("bid_timer").innerHTML = "EXPIRED";
    }

    else if(isNaN(countDownDate)){ 
      clearInterval(x);
      document.getElementById("bid_timer").innerHTML = "";
    }
}, 1000);

</script>

<ul id="dropdown2" class="dropdown-content">
 <li><%= link_to "Profile", '/edit_profile'%></li>
 <li><%= link_to "Log out", logout_path, method: "delete" %></li>
</ul>

<ul id="dropdown4" class="dropdown-content">
 <li><%= link_to "Profile", '/edit_profile'%></li>
 <li><%= link_to "Log out", logout_path, method: "delete" %></li>
</ul>

<ul id="dropdown5" class="dropdown-content">
 <li><%= link_to "Profile", '/edit_profile'%></li>
 <li><%= link_to "Log out", logout_path, method: "delete" %></li>
</ul>
<div class="container-fluid">
  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <center><h4><i class="material-icons medium">help_outline</i></h4></center>
      <p>Welcome to the UFFL Home Page! Use this page to navigate around the application.</p>
    </div>
    <div class="modal-footer green lighten-2">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat white-text">Close</a>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="modal2" class="modal modal-fixed-footer">
    <div class="modal-content">
    <% if @notifications_all.empty? %>
    <center><i class="material-icons medium">notifications_none</i>
    <i><h6> No new notifications </h6></i></center>
    <% else %>
    <% @notifications_all.where(:user_id => current_user.id).each do |notification| %>
    <% if notification.show == "yes" %>
    <div class="card">
    <div class="card-block">
      <p class="card-text"><%= notification.message %></p>
      <bold class="card-text">
      <i style="color:grey;"><%= notification.created_at.strftime("%R, %b %d") %></i>
      </bold>
      <br/>
      <br/>
     <a class="btn btn-sm green lighten-2" href="/notifications/<%=notification.id%>/destroy" data-method="delete"><i class="material-icons">check_circle</i></a>
    </div>
  </div>
  <% else %>
    <div class="card">
    <div class="card-block">
      <center><i class="material-icons medium">notifications_off</i>
      <p class="card-text">Notification Hidden</p>
      <bold class="card-text"></bold>
    </div>
  </div>
    <% end %>
    <% end %>
    <% end %>
    </div>
    <div class="modal-footer green lighten-2">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat white-text">Close</a>
    </div>
  </div>
    <ul class="side-nav" id="mobile-demo">
        <li><a href="#modal2"><i class="material-icons">notifications</i><span class="sr-only"></span></a></li>
        <li><a href="/teamsheet/index">Starting 11<span class="sr-only"></span></a></li>
        <li><a href="/bids">Bids<span class="sr-only"></span></a></li>
        <li><a href="/league_table/viewLeagueTable">League Table<span class="sr-only"></span></a></li>
        <li><a href="/fixtures/index">Fixtures & Results<span class="sr-only"></span></a></li>
        <li><a href="#modal1"><i class="material-icons">help_outline</i><span class="sr-only"></span></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown5"><% if logged_in? -%><%= current_user.first_name %><% end -%><i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>

     <ul class="side-nav" id="desktop-menu">
        <li><a href="/teamsheet/index">Starting 11<span class="sr-only"></span></a></li>
        <li><a href="/bids">Bids<span class="sr-only"></span></a></li>
        <li><a href="/league_table/viewLeagueTable">League Table<span class="sr-only"></span></a></li>
        <li><a href="/fixtures/index">Fixtures & Results<span class="sr-only"></span></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown4"><% if logged_in? -%><%= current_user.first_name %><% end -%><i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>

    <ul class="side-nav" id="notify">
    <% if @notifications_all.empty? %>
    <center><i class="material-icons medium">notifications_none</i>
    <i><h6> No new notifications </h6></i></center>
    <% else %>
    <% @notifications_all.where(:user_id => current_user.id).each do |notification| %>
    <% if notification.show == "yes" %>
    <div class="card">
    <div class="card-block">
      <p class="card-text"><%= notification.message %></p>
      <bold class="card-text">
      <i style="color:grey;"><%= notification.created_at.strftime("%R, %b %d") %></i>
      </bold>
      <br/>
      <br/>
     <a class="btn btn-sm green lighten-2" href="/notifications/<%=notification.id%>/destroy" data-method="delete"><i class="material-icons">check_circle</i></a>
    </div>
  </div>
  <% else %>
    <div class="card">
    <div class="card-block">
      <center><i class="material-icons medium">notifications_off</i>
      <p class="card-text">Notification Hidden</p>
      <bold class="card-text"></bold>
    </div>
  </div>
    <% end %>
    <% end %>
    <% end %>
    </ul>
    <div class="navbar-fixed">
    <nav>
    <div class="nav-wrapper green lighten-2">
       &nbsp; &nbsp; <a><%= 
      link_to_if current_user.access == "admin", image_tag("UFFLLogo.png", width: '150', height: '50'), '/admin_index', class: "brand-logo center" do
      link_to image_tag("UFFLLogo.png", width: '150', height: '50'), '/index', class: "brand-logo center"
      end
      %></a>
      <a href="#!" style="color:white;" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down">
      <li><a style="color:white; background:transparent;" data-activates="desktop-menu" class="btn button btn-flat"><i class="material-icons">menu</i></a></li>
      <% if @notifications_all.empty? %>
      <li><a style="color:white; background:transparent;" data-activates="notify" class="btn button btn-flat"><i class="material-icons">notifications_none</i></a></li>
      <% else %>
      <li><a style="color:white; background:transparent;" data-activates="notify" class="btn button btn-flat"><i class="material-icons">notifications</i></a></li>
      <% end %>
      <li><a style="color:white; background:transparent;" href="#modal1" class="btn btn-flat"><i class="material-icons">help_outline</i></a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"><a><%= Account.find(current_user.account_id).name %></a></li>
        <li><a style="color:white;" href="#"><% if logged_in? -%><%= quid(current_user.budget) %><% end -%></a></li>
        <li><a style="color:white;" class="dropdown-button" href="#!" data-activates="dropdown2"><% if logged_in? -%><%= current_user.first_name %><% end -%><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </div>
  </nav>
  </div>
 <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "alert alert-#{key}" %>
<% end %>
<div class="container-fluid">
<br />
<% if Timer.exists? %>
<div style= "text-align:center">
<div class="card grey lighten-5">
<center><i class="medium material-icons">access_time</i></center>
<div class="card-content black-text">
<span class="card-title" style="text-align:center; color:black;">
<span class="badge green" style="color:white; float:left; text-align:center;"><p id="bid_timer" style="display:inline;"></p></span>
<br />
  <p style="display:inline;"><%= Bid.joins(:player).where("players.position = ?", 'Goalkeeper').where("bids.user_id = ?", current_user.id).count %>/2 Goalkeepers</p> 
  <p style="display:inline;"><%= Bid.joins(:player).where("players.position = ?", 'Defender').where("bids.user_id = ?", current_user.id).count %>/6 Defenders</p>
  <p style="display:inline;"><%= Bid.joins(:player).where("players.position = ?", 'Midfielder').where("bids.user_id = ?", current_user.id).count %>/6 Midfielders</p>
  <p style="display:inline;"><%= Bid.joins(:player).where("players.position = ?", 'Striker').where("bids.user_id = ?", current_user.id).count %>/4 Strikers</p>  
  <br />
  <br /> 
  <% end %>
</div>
</div>
</span>
</div>
<div style="margin-right:auto; margin-left:auto;" id="matchfield"></div>
<br />
<div style= "text-align:center">
<div class="card green lighten-5">
<center><i class="medium material-icons">update</i></center>
<div class="card-content black-text">
<span class="card-title" style="text-align:center; color:black;">
      GK/Def Played: <%= Teamsheet.where(:user_id => current_user.id).where(:played => true).joins(:player).where("position = 'Goalkeeper' OR position = 'Defender'").count %> 
      <br/>
      Total Conceded: <%= Teamsheet.where(:user_id => current_user.id).where(:active => true).sum(:concedednum).to_s.tr('""','').tr('[]','')%>
      <br/>
      Total Scored: <%= Teamsheet.where(:user_id => current_user.id).where(:active => true).sum(:scorenum).to_s.tr('""','').tr('[]','')%>
      <br/>
</div>
</div>
</span>
</div>
<span class="badge red" style="color:white;">On the Bench</span>
<span class="badge green" style="color:white;">Starting 11</span>
<div class="row">
      <% @playerList.each do |p| %>
        <div class="col s12">
    <div class="card grey lighten-5">
    <div class="card-content white-text">
    <span class="card-title" style="text-align:center;"><% if Teamsheet.where(:player_id => p.player_id).pluck(:active).to_s.tr('""','').tr('[]','') == 'true' %> <h5 style="color:green;"><%= Player.where(:id => p.player_id).pluck(:name).to_s.tr('""','').tr('[]','') %> </h5> 
    <% else %> <h5 style="color:red;"><%= Player.where(:id => p.player_id).pluck(:name).to_s.tr('""','').tr('[]','') %> </h5></header> </span> <% end %>
              <p style="text-align:center; color:black;"> 
       <% if Teamsheet.where(:player_id => p.player_id).pluck(:priority).to_s.tr('""','').tr('[]','') != 'nil' %>
      Priority <%= Teamsheet.where(:player_id => p.player_id).pluck(:priority).to_s.tr('""','').tr('[]','') %> <% end %><%= Player.select(:position).where(:id => p.player_id).pluck(:position).to_s.tr('""','').tr('[]','')%> 
      <br/>
      <%= Team.select(:name).where(:id => Player.find(p.player_id).teams_id).pluck(:name).to_s.tr('""','').tr('[]','') %>
      <br/>
      <br/>
      Played: <%= Teamsheet.where(:player_id => p.player_id).pluck(:played).to_s.tr('""','').tr('[]','')%>
      -
      Scored: <%= Teamsheet.where(:player_id => p.player_id).pluck(:scorenum).to_s.tr('""','').tr('[]','')%>
      -
      Conceded: <%= Teamsheet.where(:player_id => p.player_id).pluck(:concedednum).to_s.tr('""','').tr('[]','')%>
      </p>
            </div>
            <div class="card-action" style="text-align:center;">
              <a href="/playerstats/<%= Playerstat.select(:id).where(:player_id => p.player_id).pluck(:id).to_s.tr('""','').tr('[]','') %>">Player Stats</a>
              <% if canView? %>
              <%= link_to "Choose player", edit_teamsheet_path(p.id) %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
</html>

