<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>-->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--<script type="text/javascript">
  $(document).ready(function(){
    $(".dropdown-button").dropdown();
    $(".button-collapse").sideNav();
  });
  </script>-->
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
 <li><a href="/players/1">AFC Bournemouth</a></li>
            <li><a href="/players/2">Arsenal</a></li>
            <li><a href="/players/3">Burnley</a></li>
            <li><a href="/players/4">Chelsea</a></li>
            <li><a href="/players/5">Crystal Palace</a></li>
            <li><a href="/players/6">Everton</a></li>
            <li><a href="/players/7">Hull City</a></li>
            <li><a href="/players/8">Leicester City</a></li>
            <li><a href="/players/9">Liverpool</a></li>
            <li><a href="/players/10">Manchester City</a></li>
            <li><a href="/players/11">Manchester United</a></li>
            <li><a href="/players/12">Middlesbrough</a></li>
            <li><a href="/players/13">Southampton</a></li>
            <li><a href="/players/14">Stoke City</a></li>
            <li><a href="/players/15">Sunderland</a></li>
            <li><a href="/players/16">Swansea City</a></li>
            <li><a href="/players/17">Tottenham Hotspur</a></li>
            <li><a href="/players/18">Watford</a></li>
            <li><a href="/players/19">West Bromwich Albion</a></li>
            <li><a href="/players/20">West Ham United</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content">
 <li><%= link_to "Profile", '/edit_profile'%></li>
 <li><%= link_to "Log out", logout_path, method: "delete" %></li>
</ul>

<ul id="dropdown3" class="dropdown-content">
 <li><a href="/players/1">AFC Bournemouth</a></li>
            <li><a href="/players/2">Arsenal</a></li>
            <li><a href="/players/3">Burnley</a></li>
            <li><a href="/players/4">Chelsea</a></li>
            <li><a href="/players/5">Crystal Palace</a></li>
            <li><a href="/players/6">Everton</a></li>
            <li><a href="/players/7">Hull City</a></li>
            <li><a href="/players/8">Leicester City</a></li>
            <li><a href="/players/9">Liverpool</a></li>
            <li><a href="/players/10">Manchester City</a></li>
            <li><a href="/players/11">Manchester United</a></li>
            <li><a href="/players/12">Middlesbrough</a></li>
            <li><a href="/players/13">Southampton</a></li>
            <li><a href="/players/14">Stoke City</a></li>
            <li><a href="/players/15">Sunderland</a></li>
            <li><a href="/players/16">Swansea City</a></li>
            <li><a href="/players/17">Tottenham Hotspur</a></li>
            <li><a href="/players/18">Watford</a></li>
            <li><a href="/players/19">West Bromwich Albion</a></li>
            <li><a href="/players/20">West Ham United</a></li>
</ul>

<ul id="dropdown4" class="dropdown-content">
 <li><%= link_to "Profile", '/edit_profile'%></li>
 <li><%= link_to "Log out", logout_path, method: "delete" %></li>
</ul>

<div class="container-fluid">
    <nav>
    <div class="nav-wrapper green lighten-2">
       &nbsp; &nbsp; <a><%= 
      link_to_if current_user.access == "admin", "UFFL", '/admin_index', class: "brand-logo" do
      link_to "UFFL", '/index', class: "brand-logo"
      end
      %></a>
      <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#"><% if logged_in? -%><%= quid(current_user.budget) %><% end -%></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown2"><% if logged_in? -%><%= current_user.first_name %><% end -%><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#"><% if logged_in? -%><%= quid(current_user.budget) %><% end -%></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown4"><% if logged_in? -%><%= current_user.first_name %><% end -%><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </div>
  </nav>
 <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "alert alert-#{key}" %>
<% end %>
  <div class="row center">
    
    <div class="col-sm-3" style="background-color:white;">
  <table id="myTable">
  <tr>
    <th>Pos<th>
    <th>Team</th>
    <th>Played</th>
    <th>Won</th>
    <th>Drawn</th>
    <th>Lost</th>
    <th>For</th>
    <th>Against</th>
    <th>GD</th>
    <th>Points</th  
  </tr>
  <% @table.each_with_index do |t, index| %>
  <tr class="item">
    <td><p><%= index + 1%></p><td>
    <td><p><%= t.team %></p></td>
    <td><p><%= t.played %></p></td>
    <td><p><%= t.won %></p></td>
    <td><p><%= t.drawn %></p></td>
    <td><p><%= t.lost %></p></td>
    <td><p><%= t.for %></p></td>
    <td><p><%= t.against %></p></td>
    <td><p><%= t.gd %></p></td>
    <td><p><%= t.points %></p></td>
  </tr> 
  <% end %>
</table>
    </div>
    
    <div class="col-sm-3" style="background-color:white;"></div>
    
    <div class="col-sm-3" style="background-color:white;"></div>
    
    <div class="col-sm-3" style="background-color:white;"></div>
  </div>
</div>

</body>
</html>
