<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a><%= 
  link_to_if current_user.access == "admin", "Fantasy Football League", '/admin_index', class: "navbar-brand" do
    link_to "Fantasy Football League", '/index', class: "navbar-brand"
  end
%></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/teams">Manage Clubs<span class="sr-only">(current)</span></a></li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Manage Squads<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/players/1">AFC Bournemouth</a></li>
            <li><a href="/players/2">Arsenal</a></li>
            <li><a href="/players/3">Burnley</a></li>
            <li><a href="/players/4">Chelsea</a></li>
            <li><a href="/players/5">Crystal Palace</a></li>
            <li><a href="/players/6">Everton</a></li>
            <li><a href="/players/7">Hull City</a></li>
            <li><a href="/players/8">Leicester City</a></li>
            <li><a href="/players/9">Liverpool</a></li>
            <li><a href="/players/10">Manchester City</a></li>
            <li><a href="/players/11">Manchester United</a></li>
            <li><a href="/players/12">Middlesbrough</a></li>
            <li><a href="/players/13">Southampton</a></li>
            <li><a href="/players/14">Stoke City</a></li>
            <li><a href="/players/15">Sunderland</a></li>
            <li><a href="/players/16">Swansea City</a></li>
            <li><a href="/players/17">Tottenham Hotspur</a></li>
            <li><a href="/players/18">Watford</a></li>
            <li><a href="/players/19">West Bromwich Albion</a></li>
            <li><a href="/players/20">West Ham United</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><% if logged_in? -%><%= quid(current_user.budget) %><% end -%></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><% if logged_in? -%><%= current_user.first_name %><% end -%><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Log out", logout_path, method: "delete" %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <div class="jumbotron">
    <h1>Add Player</h1>
  </div>
  <div class="row">
    
    <div class="col-sm-8" style="background-color:white;">
    <%= form_for(@player) do |f| %>
    <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
    </div>

    <div class="form-group">
    <b>Team_ID</b> <%= f.text_field :teams_id, :class => "form-control" %>
    </div>
    <div class="form-group">
    <%= f.label :position %>
    <%= f.text_field :position, :class => "form-control" %>
    </div>

    <div class="form-group">
    <%= f.label :playerteam %>
    <%= f.text_field :playerteam, :class => "form-control" %>
    </div>

    <div class="form-group">
    <%= f.label :account_id %>
    <%= f.text_field :account_id, :class => "form-control" %>
    </div>

    <%= f.submit "Add Player" %> 
    <% end %>
    </div>

    <div class="col-sm-4" style="background-color:white;">
  <style>
  .demo {
    border:1px solid #C0C0C0;
    border-collapse:collapse;
  }
  .demo th {
    border:1px solid #C0C0C0;
    padding:5px;
    background:#F0F0F0;
  }
  .demo td {
    border:1px solid #C0C0C0;
    padding:5px;
  }
</style>
<table class="demo">
  <thead>
  <tr>
    <th>Club</th>
    <th>Team_ID</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>AFC Bournemouth</td>
    <td>1</td>
  </tr>
  <tr>
    <td>Arsenal</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Burnley</td>
    <td>3</td>
  </tr>
  <tr>
    <td>Chelsea</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Crystal Palace</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Everton</td>
    <td>6</td>
  </tr>
    <tr>
    <td>Hull City</td>
    <td>7</td>
  </tr>
    <tr>
    <td>Leicester City</td>
    <td>8</td>
  </tr>
    <tr>
    <td>Liverpool</td>
    <td>9</td>
  </tr>
    <tr>
    <td>Manchester City</td>
    <td>10</td>
  </tr>
    <tr>
    <td>Manchester United</td>
    <td>11</td>
  </tr>
    <tr>
    <td>Middlesbrough</td>
    <td>12</td>
  </tr>
    <tr>
    <td>Southampton</td>
    <td>13</td>
  </tr>
    <tr>
    <td>Stoke City</td>
    <td>14</td>
  </tr>
    <tr>
    <td>Sunderland</td>
    <td>15</td>
  </tr>
    <tr>
    <td>Swansea City</td>
    <td>16</td>
  </tr>
    <tr>
    <td>Tottenham Hotspur</td>
    <td>17</td>
  </tr>
    <tr>
    <td>Watford</td>
    <td>18</td>
  </tr>
    <tr>
    <td>West Bromwich Albion</td>
    <td>19</td>
  </tr>
    <tr>
    <td>West Ham United</td>
    <td>20</td>
  </tr>
  <tbody>
</table>
    </div>     
</div>

</body>
</html>