<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
  <div class="jumbotron">
    <h1><%= @team.at(0).name %></h1>
  </div>
  <div class="row">
    
    <div class="col-sm-3" style="background-color:springgreen;">
    	<h2><%=@goalkeepers.at(0).position%></h2>
    	<% @goalkeepers.each do |p| %>
		<ul>
		<li>  
			<%= p.name %>
      <%= link_to "Edit", edit_players_path(p.id) %>
		</li>
		</ul>
		<% end %>
	</div>
    
    <div class="col-sm-3" style="background-color:dodgerblue;">
    <h2><%=@defenders.at(0).position%></h2>
      <% @defenders.each do |p| %>
    <ul>
    <li>  
      <%= p.name %>
      <%= link_to "Edit", edit_players_path(p.id) %>
    </li>
    </ul>
    <% end %>
  </div>
    
    <div class="col-sm-3" style="background-color:slategrey;">
      <h2><%=@midfielders.at(0).position%></h2>
      <% @midfielders.each do |p| %>
    <ul>
    <li>  
      <%= p.name %>
      <%= link_to "Edit", edit_players_path(p.id) %>
    </li>
    </ul>
    <% end %>
    </div>
    
    <div class="col-sm-3" style="background-color:orangered;">
    <h2><%=@strikers.at(0).position%></h2>
      <% @strikers.each do |p| %>
    <ul>
    <li>  
      <%= p.name %>
      <%= link_to "Edit", edit_players_path(p.id) %>
    </li>
    </ul>
    <% end %></div>
  </div>
</div>

</body>
</html>