<p id="notice"><%= notice %></p>

<h1>Listing Results Masters</h1>

<table>
  <thead>
    <tr>
      <th>Player</th>
      <th>Played</th>
      <th>Scored</th>
      <th>Scorenum</th>
      <th>Conceded</th>
      <th>Concedednum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @results_masters.each do |results_master| %>
      <tr>
        <td><%= results_master.player_id %></td>
        <td><%= results_master.played %></td>
        <td><%= results_master.scored %></td>
        <td><%= results_master.scorenum %></td>
        <td><%= results_master.conceded %></td>
        <td><%= results_master.concedednum %></td>
        <td><%= link_to 'Show', results_master %></td>
        <td><%= link_to 'Edit', edit_results_master_path(results_master) %></td>
        <td><%= link_to 'Destroy', results_master, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Results master', new_results_master_path %>
