<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
  <script type="text/javascript">
  $(document).ready(function(){
    $(".dropdown-button").dropdown();
    $(".button-collapse").sideNav();
  });

  // Set the date we're counting down to
var countDownDate = new Date("<% if Timer.exists? %> <%= Timer.first.read_attribute(:date) %> <% end %>").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    var now = new Date().getTime();
    
    // Find the distance between now and the count down date
    var distance = countDownDate - now;
    
    // Time calculations for days, hours, minutes and seconds
    var text = "Time left to submit bids: "
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    // Output the result in an element with id="demo"
    document.getElementById("bid_timer").innerHTML = text + days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
    
    // If the count down is over, write some text 
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }

    else if(isNaN(countDownDate)){ 
      countDownDate = " ";
    }

}, 1000);
  </script>
  <style type="text/css">
   .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}  
 
.breadcrumb{
background-color: white;
border: none;
}

.card-deck{
  margin-top: 10px;
}
    
.container-fluid { 
  padding: 0px;
}

#rcorners1 {
    border-radius: 25px;
    background: #D3D3D3;
    padding: 10px; 
    width: 200px;
    height: 80px;    
}
  </style>
</head>

<ul id="dropdown2" class="dropdown-content">
 <li><%= link_to "Profile", '/edit_profile'%></li>
 <li><%= link_to "Log out", logout_path, method: "delete" %></li>
</ul>

<ul id="dropdown4" class="dropdown-content">
 <li><%= link_to "Profile", '/edit_profile'%></li>
 <li><%= link_to "Log out", logout_path, method: "delete" %></li>
</ul>

<body>
<div class="container-fluid">
    <nav>
    <div class="nav-wrapper green lighten-2">
    &nbsp; &nbsp; 
      <a><%=link_to_if current_user.access == "admin", "UFFL", '/admin_index', class: "brand-logo" do
      link_to "UFFL", '/index', class: "brand-logo"
      end
      %></a>
      <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/bids">My Bids<span class="sr-only"></span></a></li>
        <li><a href="/teamsheet/index">My Team<span class="sr-only"></span></a></li>
        <li><a href="#"><% if logged_in? -%><%= quid(current_user.budget) %><% end -%></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown4"><% if logged_in? -%><%= current_user.first_name %><% end -%><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
    <div class="dropdown left">
    <button class="btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">Notifications
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
      <% @notifications_all.each do |n| %>
      <% if n.show == "yes" %>
      <li role="presentation"><p id="rcorners1"><%= n.message %><br/><%= n.created_at %><br/></p></li>
      <% end %>
      <% end %>
      <a href="/notifications">Manage notifications</a>
    </ul>
  </div>
        <li><a href="#"><% if logged_in? -%><%= quid(current_user.budget) %><% end -%></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown2"><% if logged_in? -%><%= current_user.first_name %><% end -%><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </div>
  </nav>
 <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "alert alert-#{key}" %>
<% end %>
    <div class="card-deck">
  <div class="row">
  <p id="bid_timer"></p>
  <div class="card">
    <img class="card-img-top" src="assets/pexels-photo-270085.jpeg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">My Starting 11</h4>
      <p class="card-text">Choose your starting 11 for this game week.</p>
       <a href="teamsheet/index" class="btn btn-primary">Pick Team</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/football-shoes-green-grass-80715.jpeg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">My Bids</h4>
      <p class="card-text">Bid on new players to add to your squad and view your current bids.</p>
      <a href="bids" class="btn btn-primary">Submit Bid</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/the-ball-stadion-football-the-pitch-46798.jpeg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">League Table</h4>
      <p class="card-text">View your position in the league table</p>
       <a href="league_table/viewLeagueTable" class="btn btn-primary">League Table</a>
    </div>
  </div>
   <div class="card">
    <img class="card-img-top" src="assets/pexels-photo-149356.jpeg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Fixtures & Results</h4>
      <p class="card-text">View upcoming fixtures and past results.</p>
      <a href="fixtures/index" class="btn btn-primary">View Results</a>
    </div>
  </div>
</div>
  <div class="row">
      <div class="card">
    <img class="card-img-top" src="assets/pexels-photo-262524.jpeg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">View Teams</h4>
      <p class="card-text">View other UFFL managers teams</p>
      <a href="teamsheet/index2" class="btn btn-primary">View Teams</a>
    </div>
    </div>

    <div class="card">
    <img class="card-img-top" src="assets/pexels-photo-270700.jpeg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Admin Controls</h4>
      <p class="card-text">Control your Ultimate Fantasy Football League settings</p>
      <a href="admin_controls" class="btn btn-primary">Admin Controls</a>
    </div>
    </div>
  </div>
  </div>
    </div>
<div id="overlay" onclick="off()">
    <% @notifications_all.each do |n| %>
      <% if n.show == "yes" %>
      <div class="row">
      <div class="col s4">
      <div class="card">
    <div class="card-block">
      <p class="card-text"><%= n.message %></p>
      <a href="" class="btn btn-primary">Delete</a>
    </div>
    </div>
    </div>
      <% end %>
      <% end %>
</div>
<style type="text/css">
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: auto; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
</style>
<script type="text/javascript">
function on() {
    document.getElementById("overlay").style.display = "block";
}

function off() {
    document.getElementById("overlay").style.display = "none";
}
</script>
</body>
</html>
