<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script type="text/javascript">
  $(document).ready(function(){
    $(".dropdown-button").dropdown();
    $(".button-collapse").sideNav();
  });
  </script>
  <style type="text/css">
   .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}  
.card-deck{
  margin-top: 10px;
}
  </style>
</head>
<body>
<ul id="dropdown2" class="dropdown-content">
 <li><%= link_to "Profile", '/edit_profile'%></li>
 <li><%= link_to "Log out", logout_path, method: "delete" %></li>
</ul>

<ul id="dropdown3" class="dropdown-content">
 <li><a href="/players/1">AFC Bournemouth</a></li>
            <li><a href="/players/2">Arsenal</a></li>
            <li><a href="/players/3">Brighton and Hove Albion</a></li>
            <li><a href="/players/4">Burnley</a></li>
            <li><a href="/players/5">Chelsea</a></li>
            <li><a href="/players/6">Crystal Palace</a></li>
            <li><a href="/players/7">Everton</a></li>
            <li><a href="/players/8">Huddersfield Town</a></li>
            <li><a href="/players/9">Leicester City</a></li>
            <li><a href="/players/10">Liverpool</a></li>
            <li><a href="/players/11">Manchester City</a></li>
            <li><a href="/players/12">Manchester United</a></li>
            <li><a href="/players/13">Newcastle United</a></li>
            <li><a href="/players/14">Southampton</a></li>
            <li><a href="/players/15">Stoke City</a></li>
            <li><a href="/players/16">Swansea City</a></li>
            <li><a href="/players/17">Tottenham Hotspur</a></li>
            <li><a href="/players/18">Watford</a></li>
            <li><a href="/players/19">West Bromwich Albion</a></li>
            <li><a href="/players/20">West Ham United</a></li>
</ul>

<ul id="dropdown4" class="dropdown-content">
 <li><%= link_to "Profile", '/edit_profile'%></li>
 <li><%= link_to "Log out", logout_path, method: "delete" %></li>
</ul>

<ul id="dropdown5" class="dropdown-content">
 <li><%= link_to "Player Results", '/teamsheet/admin_edit'%></li>
 <li><%= link_to "Fixture Results", '/results/fixture_results' %></li>
 <li><%= link_to "Manage Permissions", '/manage_permissions' %></li>
 <li><a class="dropdown-button" href="#!" data-activates="dropdown3">Manage Clubs<i class="material-icons right">arrow_drop_down</i></a></li>
</ul>

<div class="container-fluid">
    <nav>
    <div class="nav-wrapper green lighten-2">
       &nbsp; &nbsp; <a><%= 
      link_to_if current_user.access == "admin", "UFFL", '/admin_index', class: "brand-logo" do
      link_to "UFFL", '/index', class: "brand-logo"
      end
      %></a>
      <a href="#!" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="#"><% if logged_in? -%><%= quid(current_user.budget) %><% end -%></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="dropdown4"><% if logged_in? -%><%= current_user.first_name %><% end -%><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </div>
  </nav>
 <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "alert alert-#{key}" %>
<% end %>
<div class="row">
    <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="assets/night.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Player Results</h4>
      <p class="card-text">Enter the game weeks player results</p>
       <a href="/teamsheet/admin_edit" class="btn btn-primary">Player Results</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/pexels-photo-114296.jpeg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Fixture Results</h4>
      <p class="card-text">View your fantasy leagues fixture results</p>
      <a href="/results/fixture_results" class="btn btn-primary">Fixture Results</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/pexels-photo-211151.jpeg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Manage Permissions</h4>
      <p class="card-text">Manage ultimate fantasy football league user permissions</p>
       <a href="manage_permissions" class="btn btn-primary">Manage Permissions</a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/money.jpg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Insert winning bids</h4>
      <p class="card-text">Insert each users winning player bids</p>
        <a href="bids/insertWinners" class="btn btn-primary">Insert winning bids</a>
    </div>
  </div>
</div>
<div class="row">
   <div class="card">
    <img class="card-img-top" src="assets/sport-soccer-canon-87198.jpeg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Manage Clubs</h4>
      <p class="card-text">Manage Premier League squads</p>
       <a class="dropdown-button" href="#!" data-activates="dropdown3">Manage Clubs<i class="material-icons right">arrow_drop_down</i></a>
    </div>
  </div>
</div>
  <div class="card">
    <img class="card-img-top" src="assets/pexels-photo-317353.jpeg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Show/Hide notifications</h4>
      <p class="card-text">Show/hide notifications to users</p>
       <a href="/notification_settings_on" style="margin-bottom:10px;" class="btn btn-default">Grant Notification Permissions</a>
       <a href="/notification_settings_off" style="margin-bottom:10px;" class="btn btn-default">Revoke Notification Permissions</a>
    </div>
  </div>
  </div>
   <div class="card">
    <img class="card-img-top" src="assets/pexels-photo-317353.jpeg" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title">Create Fixtures</h4>
      <p class="card-text">Create the fixtures for your Ultimate Fantasy Football League</p>
       <a href="fixtures/createFixtures" style="margin-bottom:10px;" class="btn btn-default">Grant Notification Permissions</a>
    </div>
  </div>
  </div>
</div>
    </div>

</body>
</html>
